
<div class="row">
    <% @homes.each do |home| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to (image_tag home.image.url(:medium), clas: 'image'), home %>
      <div class="caption">
        <h3><%= home.year%> <%= home.make %> <%= home.model %></h3>
        <!-- <p>Price: <%= home.price %> Milage: <%= home.milage %></p> -->
      </div>
    </div>
  </div>
  <% end %>
</div>
