<!DOCTYPE html>
<html>
    <head>
        <title>HomeOnWheels</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="full">
        <div class="container">
            <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-info") %>
            <% end %>
             <div  class="banner">
            <h1 class="cover-heading">Welcome to Your Home on Wheels</h1>
            <p class="lead">
                <button type="button" class="btn btn-lg btn-default"><%= link_to "Buy", homes_path %></button>
                <button type="button" class="btn btn-lg btn-default"><%= link_to "Sell", pricing_path %></button>
            </button>
        </p>
    </div>
    </div>
</body>
</html>
